<div class="chat-item">
    <div class="chat-item__img">
        <img src="../assets/img/user-icon.png" alt="user-photo">
    </div>
    <div class="chat-item__content">
        <div class="chat-item__header">
            <p class="chat-item__title">Андрей</p>
            <p class="chat-item__message-time">10:49</p>
        </div>
        <p class="chat-item__subtitle">
            {{#if user}}
                <span>Вы</span>
            {{/if}}
            {{text}}
        </p>
        {{#if badge}}
            <div class="chat-item__badge">{{badge}}</div>
        {{/if}}
    </div>
</div>
