root: true

parserOptions:
  ecmaVersion: 2017
  sourceType: 'module'

env:
  es6: true
  browser: true
  commonjs: true

extends: [
  "plugin:@typescript-eslint/recommended",
  "./eslintconfig.js"
  ]
