<div class="chat">
    <div class="chat__header">
        <div class="chat__img">
            <img src="../assets/img/user-icon.png" alt="user-photo">
        </div>
        <p class="chat__title">Вадим</p>
        <button type="button" class="chat__controls">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
    <div class="chat__content">
        <div class="chat__scrollable-content">
            <div class="chat__date">19 июля</div>
            <div class="chat__bubble">Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой. Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.<span class="chat__time">
                    <span class="chat__time-inner">11:56</span>
                </span>
            </div>
            <div class="chat__bubble chat__bubble--image">
                <img src="../assets/img/test-image.png" alt="test">
                <span class="chat__time">
                    <span class="chat__time-inner">11:56</span>
                </span>
            </div>
            <div class="chat__bubble chat__bubble--sended">Круто!<span class="chat__time">
                <svg width="11" height="5" viewBox="0 0 11 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line y1="-0.5" x2="3.765" y2="-0.5" transform="matrix(0.705933 0.708278 -0.705933 0.708278 0.700195 2.33313)" stroke="$color-royal-blue"/>
                    <line y1="-0.5" x2="5.6475" y2="-0.5" transform="matrix(0.705933 -0.708278 0.705933 0.708278 3.35828 5.00006)" stroke="$color-royal-blue"/>
                    <line y1="-0.5" x2="5.6475" y2="-0.5" transform="matrix(0.705933 -0.708278 0.705933 0.708278 6.01587 5.00006)" stroke="$color-royal-blue"/>
                </svg>11:55
                </span>
            </div>
        </div>
    </div>
    <div class="chat__footer">
        <div class="chat__message">
            <label for="message">
            <input type="text" name="message" placeholder="Сообщение" id="message" required>
            </label>
        </div>
        <button type="button" aria-label="Отправить сообщение" class="chat__send-btn">
            <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect y="5.19995" width="11" height="1.6" fill="white"/>
                <path d="M7 1L11 6L7 11" stroke="white" stroke-width="1.6"/>
            </svg>
        </button>
    </div>
</div>
