.chat {
  position: relative;
  flex: 1 0 0;
  padding: 0 20px;
  height: calc(100*var(--vh, 1vh));
  display: flex;
  flex-direction: column;

  &__header {
    position: relative;
    display: flex;
    align-items: center;

    border-bottom: 1px solid $color-whisper;

    padding: 10px 0;
  }

  &__footer {
    height: 65px;

    border-top: 1px solid $color-whisper;

    padding: 11px 0;

    display: flex;
    align-items: center;
  }

  &__content {
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__scrollable-content {
    overflow-y: scroll;
    max-width: 929px;
    width: 100%;
    margin: 0 auto;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__img {
    width: 34px;
    height: 34px;

    background: $color-white-smoke;

    border-radius: 50%;
    overflow: hidden;

    margin-right: 5px;

    img {
      object-fit: cover;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
  }

  &__controls {

    margin-left: auto;
    background: $color-white-smoke;
    border: none;
    width: 25px;
    height: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: -3px;
    margin-right: 10px;

    border-radius: 50%;

    cursor: pointer;

    transition: opacity 0.3s ease;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    span {
      display: block;
      min-width: 3px;
      min-height: 3px;
      background: $color-royal-blue;
      border-radius: 50%;

      margin-bottom: 3px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__date {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;

    text-align: center;

    color: $color-nobel;

    margin: 30px 0;
  }

  &__bubble {
    background: $color-white-smoke-2;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    padding: 11px;

    max-width: 402px;
    width: max-content;


    color: $color-nero;
    border-radius: 12px;

    margin-bottom: 10px;

    position: relative;
    word-break: break-word;


    p {
      margin: 0;

      & ~ p {
        margin-top: 10px;
      }
    }

    &--sended {
      background: $color-solitude;
      margin-left: auto;

      .chat__time {
        color: $color-royal-blue;
      }
    }

    &--image {
      background-color: transparent;
      border: 1px solid $color-whisper;
      border-radius: 12px;
      max-width: 316px;

      img {
        object-fit: contain;
      }

      .chat__time {
        position: absolute;
        bottom: 10px;
        right: 10px;
        float: none;
        padding-top: 0;
        margin-bottom: 0;
        color: $color-default-white;
        background: rgba(82, 82, 82, 0.5);
        border-radius: 30px;
      }

      .chat__time-inner {
        padding: 2px 7px;
      }
    }
  }

  &__time {
    position: relative;
    font-weight: 500;
    font-size: 9px;
    line-height: 100%;

    text-align: right;
    color: $color-nobel;

    vertical-align: middle;
    display: inline-flex;
    float: right;
    align-items: center;

    padding-top: 10px;
    margin-left: 10px;
    margin-bottom: -10px;

    max-width: 40px;

    svg {
      margin-right: 4px;
      min-width: 10px;
      height: auto;
    }

    span {
      padding-left: 15px;
    }
  }

  &__message {
    width: 100%;
    position: relative;

    input {
      width: 100%;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;

      padding: 10px 37px 10px 37px;

      background: $color-white-smoke;
      border: 1px solid $color-white-smoke;
      border-radius: 30px;

      outline: none;

      transition: border-color 0.3s ease;

      &:hover,
      &:focus {
        border: 1px solid $color-grey-chateau;
      }
    }

    .input-error {
      top: calc(100% + 2px);
      left: 20px;
    }
  }

  &__send-btn {
    width: 28px;
    height: 28px;
    background-color: $color-royal-blue;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

    margin-left: 10px;

    cursor: pointer;

    background-image: url("../assets/img/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;

    transition: opacity 0.3s ease;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }

  &__controls-block {
    opacity: 0;
    visibility: hidden;

    position: absolute;
    right: 0;
    top: calc(100% + 10px);

    display: flex;
    flex-direction: column;

    background: $color-default-white;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;

    padding: 15px;

    &.is-active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__control {
    justify-content: flex-start;
    background-color: transparent;
    color: $color-default-black;

    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    width: auto;
    height: auto;

    margin-bottom: 15px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.chat-block {
  display: flex;
  height: 100vh;
  overflow: hidden;

  max-width: 1920px;
  margin: 0 auto;
}
