<div class="chat-list">
    <div class="chat-list__header">
        <a href="#" class="chat-list__profile">
            Профиль
            <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 9L5 5L1 1" stroke="#999999"/>
            </svg>
        </a>
        {{> 'search-input/search-input'}}
    </div>
    <div class="chat-list__content">
        <ul class="chat-list__list">
            <li class="chat-list__item chat-item">
                <div class="chat-item__img">
                    <img src="../assets/img/user-icon.png" alt="user-photo">
                </div>
                <div class="chat-item__content">
                    <div class="chat-item__header">
                        <p class="chat-item__title">Андрей</p>
                        <p class="chat-item__message-time">10:49</p>
                    </div>
                    <p class="chat-item__subtitle">
                        <span>Вы</span> Круто!
                    </p>
                    <div class="chat-item__badge">2</div>
                </div>
            </li>
            <li class="chat-list__item chat-item">
                <div class="chat-item__img">
                    <img src="../assets/img/user-icon.png" alt="user-photo">
                </div>
                <div class="chat-item__content">
                    <div class="chat-item__header">
                        <p class="chat-item__title">Андрей</p>
                        <p class="chat-item__message-time">10:49</p>
                    </div>
                    <p class="chat-item__subtitle">
                        Изображение
                    </p>
                </div>
            </li>
            <li class="chat-list__item chat-item">
                <div class="chat-item__img">
                    <img src="../assets/img/user-icon.png" alt="user-photo">
                </div>
                <div class="chat-item__content">
                    <div class="chat-item__header">
                        <p class="chat-item__title">Андрей</p>
                        <p class="chat-item__message-time">10:49</p>
                    </div>
                    <p class="chat-item__subtitle">
                        Друзья, у меня для вас особенный выпуск новостей! Друзья, у меня для вас особенный выпуск новостей!
                    </p>
                    <div class="chat-item__badge">4</div>
                </div>
            </li>
            <li class="chat-list__item chat-item">
                <div class="chat-item__img">
                    <img src="../assets/img/user-icon.png" alt="user-photo">
                </div>
                <div class="chat-item__content">
                    <div class="chat-item__header">
                        <p class="chat-item__title">Андрей</p>
                        <p class="chat-item__message-time">10:49</p>
                    </div>
                    <p class="chat-item__subtitle">
                        <span>Вы</span> Круто!
                    </p>
                </div>
            </li>
            <li class="chat-list__item chat-item">
                <div class="chat-item__img">
                    <img src="../assets/img/user-icon.png" alt="user-photo">
                </div>
                <div class="chat-item__content">
                    <div class="chat-item__header">
                        <p class="chat-item__title">Андрей</p>
                        <p class="chat-item__message-time">10:49</p>
                    </div>
                    <p class="chat-item__subtitle">
                        Миллионы россиян ежедневно проводят десятки часов свое россиян ежедневно проводят десятки часов свое
                    </p>
                </div>
            </li>
            <li class="chat-list__item chat-item">
                <div class="chat-item__img">
                    <img src="../assets/img/user-icon.png" alt="user-photo">
                </div>
                <div class="chat-item__content">
                    <div class="chat-item__header">
                        <p class="chat-item__title">Андрей</p>
                        <p class="chat-item__message-time">10:49</p>
                    </div>
                    <p class="chat-item__subtitle">
                        <span>Вы</span> Круто!
                    </p>
                </div>
            </li>
            <li class="chat-list__item chat-item">
                <div class="chat-item__img">
                    <img src="../assets/img/user-icon.png" alt="user-photo">
                </div>
                <div class="chat-item__content">
                    <div class="chat-item__header">
                        <p class="chat-item__title">Андрей</p>
                        <p class="chat-item__message-time">10:49</p>
                    </div>
                    <p class="chat-item__subtitle">
                        <span>Вы</span> Круто!
                    </p>
                </div>
            </li>
            <li class="chat-list__item chat-item">
                <div class="chat-item__img">
                    <img src="../assets/img/user-icon.png" alt="user-photo">
                </div>
                <div class="chat-item__content">
                    <div class="chat-item__header">
                        <p class="chat-item__title">Андрей</p>
                        <p class="chat-item__message-time">10:49</p>
                    </div>
                    <p class="chat-item__subtitle">
                        <span>Вы</span> Круто!
                    </p>
                </div>
            </li>
            <li class="chat-list__item chat-item">
                <div class="chat-item__img">
                    <img src="../assets/img/user-icon.png" alt="user-photo">
                </div>
                <div class="chat-item__content">
                    <div class="chat-item__header">
                        <p class="chat-item__title">Андрей</p>
                        <p class="chat-item__message-time">10:49</p>
                    </div>
                    <p class="chat-item__subtitle">
                        <span>Вы</span> Круто!
                    </p>
                </div>
            </li>
            <li class="chat-list__item chat-item">
                <div class="chat-item__img">
                    <img src="../assets/img/user-icon.png" alt="user-photo">
                </div>
                <div class="chat-item__content">
                    <div class="chat-item__header">
                        <p class="chat-item__title">Андрей</p>
                        <p class="chat-item__message-time">10:49</p>
                    </div>
                    <p class="chat-item__subtitle">
                        <span>Вы</span> Круто!
                    </p>
                </div>
            </li>
            <li class="chat-list__item chat-item">
                <div class="chat-item__img">
                    <img src="../assets/img/user-icon.png" alt="user-photo">
                </div>
                <div class="chat-item__content">
                    <div class="chat-item__header">
                        <p class="chat-item__title">Андрей</p>
                        <p class="chat-item__message-time">10:49</p>
                    </div>
                    <p class="chat-item__subtitle">
                        <span>Вы</span> Круто!
                    </p>
                </div>
            </li>
            <li class="chat-list__item chat-item">
                <div class="chat-item__img">
                    <img src="../assets/img/user-icon.png" alt="user-photo">
                </div>
                <div class="chat-item__content">
                    <div class="chat-item__header">
                        <p class="chat-item__title">Андрей</p>
                        <p class="chat-item__message-time">10:49</p>
                    </div>
                    <p class="chat-item__subtitle">
                        <span>Вы</span> Круто!
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
