$color-royal-blue: #3369f3;
$color-storm-grey: #808185;
$color-default-white: #ffffff;
$color-default-black: #000000;
$color-solitude: #e4edfd;
$color-nobel: #999999;
$color-white-smoke: #efefef;
$color-white-smoke-2: #f8f8f8;
$color-grey-chateau: #a2a4a6;
$color-whisper: #eaeaea;
$color-nero: #1e1e1e;
$color-snow: #fbfbfb;
$color-red-orange: #ff2f2f;
