<div class="modal is-active">
    <div class="modal__wrapper">
        <div class="modal__overlay"></div>
        <div class="modal__content">
            <button class="modal__close-btn" type="button" aria-label="Закрыть попап">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.0001 13L1.00317 1" stroke="black" stroke-linecap="round"/>
                    <path d="M1.00047 13L12.9974 1" stroke="black" stroke-linecap="round"/>
                </svg>
            </button>
            <div class="modal__inner">
                <p class="modal__title">{{title}}</p>
                {{#if file}}
                    <div class="input-file">
                        <label>
                            <span class="input-file__label-text">Выбрать файл на компьютере</span>
                            <input class="visually-hidden" type="file" id="avatar" name="avatar" accept="image/png, image/jpeg, image/heic" >
                        </label>
                        <p class="input-file__error">Нужно выбрать файл</p>
                    </div>
                    {{> 'button/button' buttonText="Поменять"}}
                {{/if}}
                {{#if login}}
                    {{> 'custom-input/custom-input' type="text" placeholder="Логин" inputName="login" id="login" errorMessage="Поле обязательно для заполнения"}}
                    {{> 'button/button' buttonText="Добавить"}}
                {{/if}}
            </div>
        </div>
    </div>
</div>
