---
title: Chat
---

{{!< base}}

<main>
    <section class="chat-block">
        {{> 'chat-list/chat-list'}}
        {{> 'chat/chat'}}
    </section>
    {{> 'modal/modal' login=true title="Добавить пользователя"}}
</main>
