<section class="login">
    <div class="login__form">
        <form action="#">
            <h1 class="login__title">Вход</h1>
            <div class="login__inputs">
                {{> 'custom-input/custom-input' type="text" placeholder="Логин" inputName="login" id="login" errorMessage="Поле обязательно для заполнения"}}
                {{> 'custom-input/custom-input' type="password" placeholder="Пароль" inputName="password" id="password" errorMessage="Поле обязательно для заполнения"}}
            </div>
            <div class="login__buttons">
                {{> 'button/button' buttonText="Авторизироваться"}}
                {{> 'button/button' buttonText="Нет аккаунта" mod="no-border"}}
            </div>
        </form>
    </div>
</section>
